@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

.nav-bar {
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);

    .menu-bar {
        display: none;
    }

    .logo {
        flex: 1.4;
        /* max-width: 500px; */
        color: whitesmoke;
        font-size: 35px;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        margin-left: 25px;
        font-weight: bold;
    }

    .search-bar {
        --size: 38px;
        max-width: 300px;
        display: flex;
        border: 2px solid whitesmoke;
        border-radius: 20px;
        height: var(--size);
        width: var(--size);
        position: relative;
        overflow: hidden;
        transition: width 1.4s cubic-bezier(.69, -0.16, .24, 1.17);

        .search-bar-input {
            flex: 1;
            font-size: 15px;
            color: white;
            width: 270px;
            border: 0;
            padding: 0 20px;
            height: 35px;
            background: transparent;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition-delay: 400ms;
            cursor: pointer;

            &:focus {
                outline: 0;
            }

        }

        .search-bar-submit {
            font-size: 1em;
            cursor: pointer;
            border: 0;
            background: pink;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin: 2px;
            margin-left: auto;
            transition: all 450ms ease-in-out;

            i {
                color: whitesmoke;
            }

            &:focus,
            &:hover {
                outline: 0;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
        }

        &:focus-within {
            width: 100%;

            .search-bar-input {
                opacity: 1;
                cursor: initial;
            }

            .search-bar-submit {
                background-color: whitesmoke;

                i {
                    color: pink;
                }
            }
        }
    }

    .nav-ul {
        flex: 1.5;
        max-width: 500px;
        display: flex;
        font-size: 17px;
        justify-content: space-evenly;
        align-items: center;

        span {
            font-size: 17px;
        }

        .icon {
            margin: 0 5px;

            i {
                color: black;
                cursor: pointer;
                transition: all 130ms ease-in;
            }

            i:hover {
                text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                transform: scale(1.15);
            }
        }

        .animate-link {
            text-decoration: none;
            color: whitesmoke;
            font-weight: 500;
            position: relative;
            overflow: hidden;
            display: flex;
            font-size: 1rem;

            .hidden {
                opacity: 0;
                visibility: hidden;
            }

            &:hover {
                .animate-link-tr {
                    > :first-child {
                        transform: translateY(-150%) rotate(-10deg);
                    }

                    > :last-child {
                        transform: translateY(-100%) rotate(0deg);
                    }
                }
            }

            .animate-link-tr {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                >* {
                    transition: transform .5s ease;
                }

                > :first-child {
                    transform: none;
                }

                > :last-child {
                    transform: translateY(50%);
                }
            }
        }

    }

    .menu-bar {
        .menu-bar-button {
            --button-color: #000;
            overflow: hidden;
            background-color: transparent;
            border-radius: 6px;
            border: 2px solid var(--button-color, #000);

            .line {
                transition: 700ms;
                stroke-dasharray: 65 44.2 65 200;
            }

            .hamburger {
                transition: translate 800ms, rotate 730ms;
            }
        }

        .menu-bar-button[data-click="true"] {
            .line {
                stroke-dasharray: 67 99 65 200;
                stroke-dashoffset: -107;
            }

            .hamburger {
                translate: 2px -0.5px;
                rotate: 0.124turn;
            }
        }
    }
}

@media (width < 1050px) {
    .nav-bar .logo {
        flex: 1;
    }
}

@media (width < 950px) {

    .search-bar {
        margin-right: 25px;
    }

    .nav-bar .nav-ul {
        position: fixed;
        z-index: 999;
        top: 60px;
        background: rgba(0, 0, 0, 0.2);
        height: calc(100vh - 60px);
        width: 100%;
        right: 100%;
        flex-direction: column;
        transition: transform 1s;
    }

    .nav-bar .menu-bar {
        display: inline-block;
        cursor: pointer;
        width: 50px;
    }

    .nav-bar .nav-ul[data-visible="true"] {
        transform: translateX(100%);
    }
}

@media (width < 450px) {
    .nav-bar {
        .logo {
            font-size: 30px;
            margin-left: 9px;
            margin-right: 5px;
        }

        .search-bar {
            margin-right: 15px;

            .search-bar-input {
                width: 170px;
            }
        }

        .menu-bar {
            width: 0;
            margin-right: 35px;
        }
    }

}